//
// Mono Theme Mode
//

$theme-mono-colors: (
    'primary': #395d94,
    'secondary': #b56576,
    'success': #71b47c,
    'info': #76c2c3,
    'warning': #d9b96a,
    'danger': #d64646,
    'light': #d5dfef
);

@if $theme-mono ==true {

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    html[data-skin='mono'] {
        --#{$prefix}font-sans-serif: "Montserrat", sans-serif;
        --#{$prefix}font-family-secondary: "Montserrat", sans-serif;

        --#{$prefix}body-font-size: 13px;
        --#{$prefix}body-bg: #f2f7ff;
        --#{$prefix}secondary-bg: #f4f9ff;

        --#{$prefix}secondary-color: #7e7591;

        --#{$prefix}tertiary-bg: #eaf1fb;

        --#{$prefix}border-color: #d5dfef;

        --#{$prefix}theme-card-border-width: 1px;
        --#{$prefix}theme-card-border-color: #dee9f9;
        --#{$prefix}theme-card-box-shadow: 1px 0.1rem 0.5rem 0 rgba(148, 172, 209, 0.2);
        --#{$prefix}box-shadow: 1px 0.1rem 0.5rem 0 rgba(148, 172, 209, 0.2);
        --#{$prefix}border-radius: 8px;
        --#{$prefix}border-radius-sm: 6px;

        --#{$prefix}font-weight-medium: 500;
        --#{$prefix}font-weight-semibold: 600;
        --#{$prefix}font-weight-bold: 700;

        --#{$prefix}font-size-xxs: 11px;
        --#{$prefix}font-size-xs: 12px;
        --#{$prefix}font-size-base: 13px;
        --#{$prefix}font-size-md: 14px;
        --#{$prefix}font-size-lg: 16px;
        --#{$prefix}font-size-xl: 18px;
        --#{$prefix}font-size-xxl: 20px;

        // Menu items
        --#{$prefix}sidenav-item-icon-size: 1.125rem;
        --#{$prefix}sidenav-item-gap: 12px;
        --#{$prefix}sidenav-item-padding-x: 10px;
        --#{$prefix}sidenav-item-padding-y: 10px;
        --#{$prefix}sidenav-item-font-size: 0.8125rem;
        --#{$prefix}sidenav-item-font-weight: 500;

        // Sub Menu Items
        --#{$prefix}sidenav-sub-item-font-size: 0.8125rem;
        --#{$prefix}sidenav-sub-item-font-weight: 500;
        --#{$prefix}sidenav-sub-item-gap: 4px;
        --#{$prefix}sidenav-sub-item-padding-x: 10px;
        --#{$prefix}sidenav-sub-item-padding-y: 7px;

        // Background Light left-sidebar
        &[data-menu-color='light'] {
            --#{$prefix}sidenav-bg: #ffffff;
            --#{$prefix}sidenav-border-color: #ffffff;
            --#{$prefix}sidenav-item-color: #{$gray-700};
            --#{$prefix}sidenav-item-hover-color: #395d94;
            --#{$prefix}sidenav-item-hover-bg: #f2f7ff;
            --#{$prefix}sidenav-item-active-color: #395d94;
            --#{$prefix}sidenav-item-active-bg: #f2f7ff;
        }

        // Background Gray left-sidebar
        &[data-menu-color='gray'] {
            --#{$prefix}sidenav-bg: #ebf2fa;
            --#{$prefix}sidenav-border-color: #ebf2fa;
            --#{$prefix}sidenav-item-color: #{$gray-700};
            --#{$prefix}sidenav-item-hover-color: #395d94;
            --#{$prefix}sidenav-item-hover-bg: #e0e7f1;
            --#{$prefix}sidenav-item-active-color: #212b29;
            --#{$prefix}sidenav-item-active-bg: #e0e7f1;
        }

        // Dark Left Sidebar
        &[data-menu-color='dark'] {
            --#{$prefix}sidenav-bg: #383131;
            --#{$prefix}sidenav-border-color: #383131;
            --#{$prefix}sidenav-item-color: #9f9f9f;
            --#{$prefix}sidenav-item-hover-color: #d5d5d5;
            --#{$prefix}sidenav-item-hover-bg: #312a2a;
            --#{$prefix}sidenav-item-active-color: #d5d5d5;
            --#{$prefix}sidenav-item-active-bg: #312a2a;
        }

        // Gradient Menu
        &[data-menu-color='gradient'] {
            --#{$prefix}sidenav-bg: #{linear-gradient(135deg, #39568a, #262549)};
            --#{$prefix}sidenav-border-color: null;
            --#{$prefix}sidenav-item-color: #799cb7;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: rgba(255, 255, 255, 0.05);
            --#{$prefix}sidenav-item-active-color: #cfdff1;
            --#{$prefix}sidenav-item-active-bg: rgba(255, 255, 255, 0.05);
        }

        // Image Menu
        &[data-menu-color='image'] {
            --#{$prefix}sidenav-bg: #{linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #183c52), url('/public/images/sidenav-bg.jpg') center/cover no-repeat};
            --#{$prefix}sidenav-border-color: null;
            --#{$prefix}sidenav-item-color: #799cb7;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: rgba(255, 255, 255, 0.05);
            --#{$prefix}sidenav-item-active-color: #cfdff1;
            --#{$prefix}sidenav-item-active-bg: rgba(255, 255, 255, 0.05);
        }

        // Dark Mode
        &[data-bs-theme='dark'][data-menu-color='dark'],
        &[data-bs-theme='dark'][data-menu-color='gray'],
        &[data-bs-theme='dark'][data-menu-color='light'] {
            --#{$prefix}sidenav-bg: #1e1f27;
            --#{$prefix}sidenav-border-color: #2c2d38;
            --#{$prefix}sidenav-item-color: #8495ab;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: #2f3742;
            --#{$prefix}sidenav-item-active-color: #ced6df;
            --#{$prefix}sidenav-item-active-bg: #22232c;
        }

        // Light Topbar
        &[data-topbar-color='light'] {
            --#{$prefix}topbar-bg: #fefbff;
            --#{$prefix}topbar-item-color: #{$gray-700};
            --#{$prefix}topbar-item-hover-color: #395d94;
            --#{$prefix}topbar-search-bg: #f2f7ff;
            --#{$prefix}topbar-search-border: #eaeef5;
        }

        // Gray Topbar
        &[data-topbar-color='gray'] {
            --#{$prefix}topbar-bg: #f2f7ff;
            --#{$prefix}topbar-item-color: #{$gray-700};
            --#{$prefix}topbar-item-hover-color: #395d94;
            --#{$prefix}topbar-search-bg: #e8eef7;
            --#{$prefix}topbar-search-border: #e8eef7;
        }

        // Dark Topbar
        &[data-topbar-color='dark'] {
            --#{$prefix}topbar-bg: #395d94;
            --#{$prefix}topbar-item-color: #bcc8dd;
            --#{$prefix}topbar-item-hover-color: #e0eeff;
            --#{$prefix}topbar-search-bg: #44679d;
            --#{$prefix}topbar-search-border: #44679d;
        }

        // Gradient Topbar
        &[data-topbar-color='gradient'] {
            --#{$prefix}topbar-bg: #{linear-gradient(to bottom, #395d94, #3a3052)};
            --#{$prefix}topbar-item-color: rgba(255, 255, 255, 0.7);
            --#{$prefix}topbar-item-hover-color: #ffffff;
            --#{$prefix}topbar-search-bg: rgba(255, 255, 255, 0.1);
            --#{$prefix}topbar-search-border: rgba(255, 255, 255, 0.1);
        }

        // Topbar (Dark Mode)
        &[data-bs-theme='dark'][data-topbar-color='dark'],
        &[data-bs-theme='dark'][data-topbar-color='light'],
        &[data-bs-theme='dark'][data-topbar-color='gray'] {
            --#{$prefix}topbar-bg: #252630;
            --#{$prefix}topbar-item-color: #adb5bf;
            --#{$prefix}topbar-item-hover-color: #e0eeff;
            --#{$prefix}topbar-search-bg: #2d2e3c;
            --#{$prefix}topbar-search-border: #2d2e3c;
        }

        @each $name, $value in $theme-mono-colors {
            --#{$prefix}#{$name}: #{$value};
        }

        @each $name, $value in $theme-mono-colors {
            --#{$prefix}#{$name}-rgb: #{to-rgb($value)};
        }

        @each $name, $value in $theme-mono-colors {
            --#{$prefix}#{$name}-bg-subtle: #{rgba($value, 0.15)};
        }

        @each $name, $value in $theme-mono-colors {
            --#{$prefix}#{$name}-border-subtle: #{rgba($value, 0.3)};
        }

        @each $name, $value in $theme-mono-colors {
            --#{$prefix}#{$name}-text-emphasis: #{shade-color($value, 25%)};
        }

        // Chart Colors
        --#{$prefix}chart-primary: #395d94; // Main Color
        --#{$prefix}chart-primary-rgb: #{to-rgb(#395d94)};
        --#{$prefix}chart-secondary: #d9b96a; // Secondary Color
        --#{$prefix}chart-secondary-rgb: #{to-rgb(#d9b96a)};
        --#{$prefix}chart-alpha: #71b47c; // Success Color
        --#{$prefix}chart-alpha-rgb: #{to-rgb(#71b47c)};
        --#{$prefix}chart-beta: #d64646; // Danger Color
        --#{$prefix}chart-beta-rgb: #{to-rgb(#d64646)};
        --#{$prefix}chart-gamma: #b56576; // Warning Color
        --#{$prefix}chart-gamma-rgb: #{to-rgb(#b56576)};
        --#{$prefix}chart-delta: #76c2c3; // Info Color
        --#{$prefix}chart-delta-rgb: #{to-rgb(#76c2c3)};
        --#{$prefix}chart-zeta: #6B3F69; // Purple or custom Color
        --#{$prefix}chart-zeta-rgb: #{to-rgb(#6B3F69)};
        --#{$prefix}chart-gray: #d5dfef; // Gray Color
        --#{$prefix}chart-gray-rgb: #{to-rgb(#d5dfef)};
        --#{$prefix}chart-dark: #396699; // Primary Dark Color
        --#{$prefix}chart-dark-rgb: #{to-rgb(#396699)};
        --#{$prefix}chart-border-color: #ecf4fc; // Border Color
        --#{$prefix}chart-title-color: #bbcae1; // Title Color
    }

    @if $enable-dark-mode {
        @include color-mode(dark, true) {
            &[data-skin='mono'] {
                --#{$prefix}body-bg: #{#17181e};
                --#{$prefix}body-bg-rgb: #{to-rgb(#17181e)};

                --#{$prefix}light: #252630;
                --#{$prefix}light-rgb: #{to-rgb(#252630)};

                --#{$prefix}secondary-bg: #{#1b1c22};
                --#{$prefix}secondary-bg-rgb: #{to-rgb(#1b1c22)};

                --#{$prefix}theme-card-box-shadow: #{0px 0px 30px rgba(0, 0, 0, 0.3)};

                --#{$prefix}box-shadow: #{0px 0px 30px rgba(0, 0, 0, 0.3)};

                --#{$prefix}theme-card-border-color: #293036;

                --#{$prefix}tertiary-bg: #252630;

                --#{$prefix}secondary-color: #8391a2;

                --#{$prefix}border-color: #293036;

                --#{$prefix}chart-gray: #40424f;
                --#{$prefix}chart-gray-rgb: #{to-rgb(#40424f)};

                --#{$prefix}chart-border-color: #242c31;
                --#{$prefix}chart-gray: #40424f;
                --#{$prefix}chart-gray-rgb: #{to-rgb(#40424f)};

                .dropdown-menu,
                .offcanvas {
                    background-color: #1b1c22;
                }
            }
        }
    }
}

//
//  Mono Theme
//
html[data-skin='mono'] {
    .container-fluid {
        max-width: 1460px;
    }

    .row:not([class*="g-"]) {
        --#{$prefix}gutter-x: 0.75rem;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --#{$prefix}gutter-x: 0.75rem;
    }

    .card {
        border-radius: 12px;
        margin-bottom: 0.75rem;
        background-image: linear-gradient(90deg, rgba(57, 93, 148, 0.05), rgba(44, 138, 40, 0)) !important;

        .card-title {
            font-weight: 600;
        }
    }

    .nav-link.active {
        background-color: transparent !important;
    }

    .card-h-100 {
        height: calc(100% - 0.75rem);
    }

    .app-topbar {
        .topbar-menu {
            padding-inline-start: 0.75rem * .5;
            padding-inline-end: 0.75rem * .5;

            .topbar-item {
                .topbar-link {
                    padding: 0;

                    .topbar-link-icon {
                        font-size: 18px;
                        height: 32px;
                        width: 32px;
                        background-color: var(--#{$prefix}topbar-search-bg);
                        border-radius: 50rem;
                        line-height: 32px;
                    }
                }
            }
        }
    }

    .pro-username {
        font-size: 13px;
        font-weight: 600;
    }

    .footer {
        background-color: transparent;
        border: none;
    }

    .dropdown-menu,
    .offcanvas {
        background-color: $white;
    }

    .btn {
        --#{$prefix}btn-padding-y: 0.4532rem;
        --#{$prefix}btn-padding-x: 1rem;
    }

    .btn-sm {
        --#{$prefix}btn-padding-y: 0.3125rem;
        --#{$prefix}btn-padding-x: 0.625rem;
    }

    .side-nav>.side-nav-item.active>a {
        border-radius: 50px;
    }

    .bg-body-secondary {
        background-color: var(--#{$prefix}secondary-bg) !important;
    }
}