//
// Zen Theme Mode
//

$theme-zen-colors: (
    'primary': #8bb7a2,
    'secondary': #4d4e8d,
    'success': #6fbf9c,
    'info': #7cc5c5,
    'warning': #dfcc9d,
    'danger': #e76c5d
);

@if $theme-zen ==true {

    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

    html[data-skin='zen'] {
        --#{$prefix}font-sans-serif: "Roboto Condensed", sans-serif;
        --#{$prefix}font-family-secondary: "Roboto Condensed", sans-serif;

        --#{$prefix}body-font-size: 14px;
        --#{$prefix}body-bg: #f2f2f2;
        --#{$prefix}secondary-bg: #ffffff;

        --#{$prefix}theme-card-border-width: 0;
        --#{$prefix}theme-card-border-color: #edf2f9;
        --#{$prefix}theme-card-box-shadow: 0 1px 2px rgba(57, 62, 80, 0.15);
        --#{$prefix}box-shadow: 0 2px 4px rgba(56, 65, 74, 0.2);
        --#{$prefix}border-radius: 15px;

        --#{$prefix}font-weight-medium: 500;
        --#{$prefix}font-weight-semibold: 500;
        --#{$prefix}font-weight-bold: 600;

        --#{$prefix}font-size-xxs: 12px;
        --#{$prefix}font-size-xs: 13px;
        --#{$prefix}font-size-base: 14px;
        --#{$prefix}font-size-md: 15px;
        --#{$prefix}font-size-lg: 16px;
        --#{$prefix}font-size-xl: 18px;
        --#{$prefix}font-size-xxl: 20px;

        // Menu items
        --#{$prefix}sidenav-item-icon-size: 1rem;
        --#{$prefix}sidenav-item-gap: 10px;
        --#{$prefix}sidenav-item-padding-x: 12px;
        --#{$prefix}sidenav-item-padding-y: 8px;
        --#{$prefix}sidenav-item-font-size: 0.8725rem;
        --#{$prefix}sidenav-item-font-weight: 400;

        // Sub Menu Items
        --#{$prefix}sidenav-sub-item-font-size: 0.8725rem;
        --#{$prefix}sidenav-sub-item-font-weight: 400;
        --#{$prefix}sidenav-sub-item-gap: 4px;
        --#{$prefix}sidenav-sub-item-padding-x: 10px;
        --#{$prefix}sidenav-sub-item-padding-y: 7px;

        // Light left-sidebar
        &[data-menu-color='light'] {
            --#{$prefix}sidenav-bg: #{$white};
            --#{$prefix}sidenav-border-color: #edf2f9;
            --#{$prefix}sidenav-item-color: #{$gray-700};
            --#{$prefix}sidenav-item-hover-color: #8bb7a2;
            --#{$prefix}sidenav-item-hover-bg: #f1f6f4;
            --#{$prefix}sidenav-item-active-color: #8bb7a2;
            --#{$prefix}sidenav-item-active-bg: #f1f6f4;
        }

        // Gray left-sidebar
        &[data-menu-color='gray'] {
            --#{$prefix}sidenav-bg: #f6f7fb;
            --#{$prefix}sidenav-border-color: #e7e9eb;
            --#{$prefix}sidenav-item-color: #{$gray-700};
            --#{$prefix}sidenav-item-hover-color: #8bb7a2;
            --#{$prefix}sidenav-item-hover-bg: #eaecf3;
            --#{$prefix}sidenav-item-active-color: #212b29;
            --#{$prefix}sidenav-item-active-bg: #eaecf3;
        }

        // Dark Left Sidebar
        &[data-menu-color='dark'] {
            --#{$prefix}sidenav-bg: #354152;
            --#{$prefix}sidenav-border-color: #354152;
            --#{$prefix}sidenav-item-color: #8495ab;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: #2c3849;
            --#{$prefix}sidenav-item-active-color: #ced6df;
            --#{$prefix}sidenav-item-active-bg: #2c3849;
        }

        // Gradient Menu
        &[data-menu-color='gradient'] {
            --#{$prefix}sidenav-bg: #{linear-gradient(to right, #1a5c5f, #254449)};
            --#{$prefix}sidenav-border-color: null;
            --#{$prefix}sidenav-item-color: #73a6ab;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
            --#{$prefix}sidenav-item-active-color: #cfdff1;
            --#{$prefix}sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
        }

        // Image Menu
        &[data-menu-color='image'] {
            --#{$prefix}sidenav-bg: #{linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #183c52), url('/public/images/sidenav-bg.jpg') center/cover no-repeat};
            --#{$prefix}sidenav-border-color: null;
            --#{$prefix}sidenav-item-color: #799cb7;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: #2f3742;
            --#{$prefix}sidenav-item-active-color: #cfdff1;
            --#{$prefix}sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
        }

        // Dark Mode
        &[data-bs-theme='dark'][data-menu-color='dark'],
        &[data-bs-theme='dark'][data-menu-color='gray'],
        &[data-bs-theme='dark'][data-menu-color='light'] {
            --#{$prefix}sidenav-bg: #1e1f27;
            --#{$prefix}sidenav-border-color: #2c2d38;
            --#{$prefix}sidenav-item-color: #8495ab;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: #2f3742;
            --#{$prefix}sidenav-item-active-color: #ced6df;
            --#{$prefix}sidenav-item-active-bg: #22232c;
        }

        // Light Topbar
        &[data-topbar-color='light'] {
            --#{$prefix}topbar-bg: #ffffff;
            --#{$prefix}topbar-item-color: #{$gray-700};
            --#{$prefix}topbar-item-hover-color: #8bb7a2;
            --#{$prefix}topbar-search-bg: transparent;
            --#{$prefix}topbar-search-border: #e7e9eb;
        }

        // Gray Topbar
        &[data-topbar-color='gray'] {
            --#{$prefix}topbar-bg: #f2f2f2;
            --#{$prefix}topbar-item-color: #{$gray-700};
            --#{$prefix}topbar-item-hover-color: #8bb7a2;
            --#{$prefix}topbar-search-bg: #e4e6ed;
            --#{$prefix}topbar-search-border: #e4e6ed;
        }

        // Dark Topbar
        &[data-topbar-color='dark'] {
            --#{$prefix}topbar-bg: #354152;
            --#{$prefix}topbar-item-color: #adb5bf;
            --#{$prefix}topbar-item-hover-color: #e0eeff;
            --#{$prefix}topbar-search-bg: #2c3849;
            --#{$prefix}topbar-search-border: #2c3849;
        }

        // Gradient Topbar
        &[data-topbar-color='gradient'] {
            --#{$prefix}topbar-bg: #{linear-gradient(to bottom, #1a5c5f, #254449)};
            --#{$prefix}topbar-item-color: rgba(255, 255, 255, 0.7);
            --#{$prefix}topbar-item-hover-color: #ffffff;
            --#{$prefix}topbar-search-bg: rgba(255, 255, 255, 0.1);
            --#{$prefix}topbar-search-border: rgba(255, 255, 255, 0.1);
        }

        // Topbar (Dark Mode)
        &[data-bs-theme='dark'][data-topbar-color='dark'],
        &[data-bs-theme='dark'][data-topbar-color='light'],
        &[data-bs-theme='dark'][data-topbar-color='gray'] {
            --#{$prefix}topbar-bg: #252630;
            --#{$prefix}topbar-item-color: #adb5bf;
            --#{$prefix}topbar-item-hover-color: #e0eeff;
            --#{$prefix}topbar-search-bg: #2d2e3c;
            --#{$prefix}topbar-search-border: #2d2e3c;
        }

        @each $name, $value in $theme-zen-colors {
            --#{$prefix}#{$name}: #{$value};
        }

        @each $name, $value in $theme-zen-colors {
            --#{$prefix}#{$name}-rgb: #{to-rgb($value)};
        }

        @each $name, $value in $theme-zen-colors {
            --#{$prefix}#{$name}-bg-subtle: #{rgba($value, 0.15)};
        }

        @each $name, $value in $theme-zen-colors {
            --#{$prefix}#{$name}-border-subtle: #{rgba($value, 0.3)};
        }

        @each $name, $value in $theme-zen-colors {
            --#{$prefix}#{$name}-text-emphasis: #{shade-color($value, 25%)};
        }

        // Chart Colors
        --#{$prefix}chart-primary: #8bb7a2; // Main Color
        --#{$prefix}chart-primary-rgb: #{to-rgb(#8bb7a2)};
        --#{$prefix}chart-secondary: #4d4e8d; // Secondary Color
        --#{$prefix}chart-secondary-rgb: #{to-rgb(#4d4e8d)};
        --#{$prefix}chart-alpha: #6fbf9c; // Success Color
        --#{$prefix}chart-alpha-rgb: #{to-rgb(#6fbf9c)};
        --#{$prefix}chart-beta: #e76c5d; // Danger Color
        --#{$prefix}chart-beta-rgb: #{to-rgb(#e76c5d)};
        --#{$prefix}chart-gamma: #dfcc9d; // Warning Color
        --#{$prefix}chart-gamma-rgb: #{to-rgb(#dfcc9d)};
        --#{$prefix}chart-delta: #7cc5c5; // Info Color
        --#{$prefix}chart-delta-rgb: #{to-rgb(#7cc5c5)};
        --#{$prefix}chart-zeta: #6070cc; // Purple or custom Color
        --#{$prefix}chart-zeta-rgb: #{to-rgb(#6070cc)};
        --#{$prefix}chart-gray: #edeff3; // Gray Color
        --#{$prefix}chart-gray-rgb: #{to-rgb(#edeff3)};
        --#{$prefix}chart-dark: #396699; // Primary Dark Color
        --#{$prefix}chart-dark-rgb: #{to-rgb(#396699)};
        --#{$prefix}chart-border-color: #ecf4fc; // Border Color
        --#{$prefix}chart-title-color: #bbcae1; // Title Color
    }

    @if $enable-dark-mode {
        @include color-mode(dark, true) {
            &[data-skin='zen'] {
                --#{$prefix}body-bg: #{#17181e};
                --#{$prefix}body-bg-rgb: #{to-rgb(#17181e)};

                --#{$prefix}secondary-bg: #{#1b1c22};
                --#{$prefix}secondary-bg-rgb: #{to-rgb(#1b1c22)};

                --#{$prefix}box-shadow: #{0px 0px 30px rgba(0, 0, 0, 0.3)};

                --#{$prefix}theme-card-border-color: #293036;

                --#{$prefix}chart-gray: #40424f;
                --#{$prefix}chart-gray-rgb: #{to-rgb(#40424f)};

                --#{$prefix}chart-border-color: #242c31;
                --#{$prefix}chart-gray: #40424f;
                --#{$prefix}chart-gray-rgb: #{to-rgb(#40424f)};

                // Extra CSS
                .card,
                .dropdown-menu {
                    border-width: 1px !important;
                }
            }
        }
    }
}

//
//  Zen Theme
//
html[data-skin='zen'] {

    .sidenav-menu {

        &::before {
            content: "";
            position: absolute;
            top: 0;
            inset-inline-end: -20px;
            width: 20px;
            height: 20px;
            background: var(--#{$prefix}sidenav-bg);
            mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C8.95431 0 0 8.95431 0 20V0H20Z'/%3E%3C/svg%3E");
            mask-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            inset-inline-end: -20px;
            width: 20px;
            height: 20px;
            background: var(--#{$prefix}sidenav-bg);
            mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0C0 11.0457 8.95431 20 20 20H0V0Z'/%3E%3C/svg%3E");
            mask-repeat: no-repeat;
        }
    }

    .app-topbar {
        border-start-start-radius: 20px;

        .topbar-menu {
            padding-inline-start: 1.5rem * .5;
            padding-inline-end: 1.5rem * .5;
        }
    }

    .container-fluid {
        max-width: 1400px;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --#{$prefix}gutter-x: 1.5rem;
    }

    .row:not([class*="g-"]) {
        --#{$prefix}gutter-x: 1.5rem;
    }

    .card {
        margin-bottom: 1.5rem;
        box-shadow: none;

        .card-title {
            font-size: 16px;
        }
    }

    .card-h-100 {
        height: calc(100% - 1.5rem);
    }

    .btn {
        font-weight: var(--#{$prefix}font-weight-normal);
    }

    .footer {
        background-color: transparent;
        border: none;
        padding: 0 0 1.5rem 0;
    }
}

html[data-skin='zen'][data-topbar-color="gray"] {
    .app-topbar {
        box-shadow: none;
    }
}

html[data-skin='zen'][data-menu-color='light'][data-topbar-color='dark'],
html[data-skin='zen'][data-menu-color='light'][data-topbar-color='gradient'] {
    .app-topbar {
        border-radius: 0;
    }

    .sidenav-menu {

        &::before {
            display: none;
        }
    }
}

html[data-skin='zen'][dir='rtl'] {
    .sidenav-menu {
        &::before {
            transform: rotate(90deg);
        }

        &::after {
            transform: rotate(-90deg);
        }
    }
}